<div class="flex flex-col">
  <div class="block">
    <h1 class="font-bold text-2xl">Recipe Search</h1>
  </div>

  <div class="block">
    <% recipes.each do |recipe| %>
      <p><%= recipe.title %></p>
    <% end %>
  </div>

  <div class="block" data-controller="search">
    <%= form_with url: search_ingredients_path, method: :post, data: { search_target: "form" } do |form| %>
      <div>
        <%= form.text_field :search, data: { action: "search#search" }, autocomplete: "off" %>
      </div>
    <% end %>

    <div data-search-target="results">
      <%= render partial: "ingredients/search_result", locals: { ingredients: ingredients } %>
    </div>
  </div>
</div>
