<span class="flex flex-wrap rounded-md border bg-white shadow-sm">
  <% ingredients.each do |ingredient| %>
    <% new_filter = filter.new_with(operator.to_sym => ingredient.id) %>

    <button
      class="border-e px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:relative"
    >
    <%= link_to("#{ingredient.name} (#{ingredient[:recipe_count]})", recipes_path(new_filter.to_params)) %>
    </button>
  <% end %>
</span>
